<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    {{> header}}    {{> header}}
    <h1>Welcome {{name}}</h1>
    <p>{{message}}</p>

{{> footer}}
</body>
</html>